.DS_Store
On branch master
Your branch is ahead of 'origin/master' by 1 commit.
  (use "git push" to publish your local commits)

Changes not staged for commit:
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework.dSYM/Contents/Resources/DWARF/Realm
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Headers
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Modules
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/PrivateHeaders
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Realm
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Resources
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMArray.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMCollection.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMConstants.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMDefines.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMMigration.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMObject.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMObjectBase.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMObjectBase_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMObjectSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMPlatform.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMProperty.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMRealm.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMRealmConfiguration.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMRealm_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMResults.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/RLMSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Headers/Realm.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMAccessor.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMArray_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMListBase.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMMigration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMObjectSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMObjectStore.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMObject_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMOptionalBase.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMProperty_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMRealmConfiguration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMRealmUtil.hpp
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMRealm_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMResults_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/PrivateHeaders/RLMSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Realm
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Resources/CHANGELOG.md
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Resources/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Resources/LICENSE
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/A/Resources/strip-frameworks.sh
	deleted:    Demo Swift Realm/Carthage/Build/Mac/Realm.framework/Versions/Current
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework.dSYM/Contents/Resources/DWARF/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Headers
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Modules
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Resources
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Versions/A/Headers/RealmSwift-Swift.h
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Versions/A/Modules/RealmSwift.swiftmodule/x86_64.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Versions/A/Modules/RealmSwift.swiftmodule/x86_64.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Versions/A/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Versions/A/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Versions/A/Resources/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/Mac/RealmSwift.framework/Versions/Current
	deleted:    Demo Swift Realm/Carthage/Build/iOS/2098B16A-19A5-3BCE-BD43-888F2B7A6145.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/iOS/8E9C8F5C-4532-3D46-ACA2-B0555560507E.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/iOS/C2624C0D-7574-37C2-89D1-666B774DA126.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/iOS/F3776249-77BB-37E4-9C87-D0CA403D1678.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework.dSYM/Contents/Resources/DWARF/Realm
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/CHANGELOG.md
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMArray.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMCollection.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMConstants.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMDefines.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMMigration.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMObject.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMObjectBase.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMObjectBase_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMObjectSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMPlatform.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMProperty.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMRealm.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMRealmConfiguration.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMRealm_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMResults.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/RLMSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Headers/Realm.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/LICENSE
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMAccessor.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMArray_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMListBase.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMMigration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMObjectSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMObjectStore.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMObject_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMOptionalBase.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMProperty_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMRealmConfiguration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMRealmUtil.hpp
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMRealm_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMResults_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/PrivateHeaders/RLMSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/Realm
	deleted:    Demo Swift Realm/Carthage/Build/iOS/Realm.framework/strip-frameworks.sh
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework.dSYM/Contents/Resources/DWARF/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Headers/RealmSwift-Swift.h
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/i386.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/i386.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/x86_64.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/x86_64.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/iOS/RealmSwift.framework/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/A60E064D-629C-36BA-B7B6-C5E48EB3702F.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/EDCA4C9E-A143-3204-8656-F77D837EC4F4.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework.dSYM/Contents/Resources/DWARF/Realm
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/CHANGELOG.md
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMArray.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMCollection.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMConstants.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMDefines.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMMigration.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMObject.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMObjectBase.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMObjectBase_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMObjectSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMPlatform.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMProperty.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMRealm.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMRealmConfiguration.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMRealm_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMResults.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/RLMSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Headers/Realm.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/LICENSE
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMAccessor.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMArray_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMListBase.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMMigration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMObjectSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMObjectStore.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMObject_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMOptionalBase.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMProperty_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMRealmConfiguration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMRealmUtil.hpp
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMRealm_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMResults_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/PrivateHeaders/RLMSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/Realm
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/Realm.framework/strip-frameworks.sh
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework.dSYM/Contents/Resources/DWARF/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/Headers/RealmSwift-Swift.h
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm64.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/x86_64.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/x86_64.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/tvOS/RealmSwift.framework/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/2353958D-7228-32B8-917E-D9EFEB11FA1A.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/F78E4596-9C85-356F-B29A-BEA0A8D8CB51.bcsymbolmap
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework.dSYM/Contents/Resources/DWARF/Realm
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/CHANGELOG.md
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMArray.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMCollection.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMConstants.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMDefines.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMMigration.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMObject.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMObjectBase.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMObjectBase_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMObjectSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMPlatform.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMProperty.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMRealm.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMRealmConfiguration.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMRealm_Dynamic.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMResults.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/RLMSchema.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Headers/Realm.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/LICENSE
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMAccessor.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMArray_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMListBase.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMMigration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMObjectSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMObjectStore.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMObject_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMOptionalBase.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMProperty_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMRealmConfiguration_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMRealmUtil.hpp
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMRealm_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMResults_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/PrivateHeaders/RLMSchema_Private.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/Realm
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/Realm.framework/strip-frameworks.sh
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework.dSYM/Contents/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework.dSYM/Contents/Resources/DWARF/RealmSwift
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/Headers/RealmSwift-Swift.h
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/Info.plist
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/arm.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/i386.swiftdoc
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/Modules/RealmSwift.swiftmodule/i386.swiftmodule
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/Modules/module.modulemap
	deleted:    Demo Swift Realm/Carthage/Build/watchOS/RealmSwift.framework/RealmSwift

no changes added to commit
